{% extends 'layouts/bases.html' %}
{% load static %}
{% block css %}
<!-- third party css -->
<link href="{% static 'pulls/assets/css/vendor/fullcalendar.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'pulls/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'pulls/assets/css/app.min.css' %}" rel="stylesheet" type="text/css" id="light-style" />
<link href="{% static 'pulls/assets/css/app-dark.min.css' %}" rel="stylesheet" type="text/css" id="dark-style" />
<link href="{% static 'pulls/assets/css/vendor/dataTables.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'pulls/assets/css/vendor/responsive.bootstrap5.css' %}" rel="stylesheet" type="text/css" />
 
<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
    }
    .container {
        background-color: #fff;
        border-radius: 8px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
        animation: fadeIn 1s;
    }
    h1 {
        font-weight: 700;
        margin-bottom: 20px;
    }
    p {
        font-weight: 300;
    }
    #fileContainer {
        border: 2px solid #dee2e6;
        border-radius: 8px;
        overflow: hidden;
        background-color: #f8f9fa;
        padding: 10px;
        text-align: center;
        animation: fadeInUp 1s;
    }
    #fileViewer {
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 8px;
    }
    .btn-download {
        display: block;
        margin: 20px auto;
        background-color: #007bff;
        color: white;
        border-radius: 8px;
        padding: 10px 20px;
        text-decoration: none;
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translate3d(0, 40px, 0);
        }
        to {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    .cv-details {
        display: none;
    }
    .comment-item {
        position: relative;
        padding-bottom: 1.5em;
    }
    .comment-item .created-at {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 0.8em;
        color: gray;
    }
    .comment-feedback {
        margin-top: 5px;
    }
    .floating-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007bff;
        color: white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        z-index: 1000;
    }
    .swap-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .swap-buttons button {
        margin: 0 10px;
    }
    .editable {
        border: 1px solid #007bff;
        background-color: #e9ecef;
    }
</style>
{% endblock css %}
 
{% block content %}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'choix_leads' %}">Leads & CVs</a></li>
                        <li class="breadcrumb-item active">Détails du CV</li>
                    </ol>
                </div>
                <h4 class="page-title mt-1">Détails sur le CV {{cv.id}}</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div id="cv-details-section" class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!-- endroit ou mettre le cv -->
                        <div class="col-lg-6" id="fileContainerDiv">
                            <!-- Product image -->
                            <div id="fileContainer" class="embed-responsive embed-responsive-16by9 mt-4">
                                <iframe id="fileViewer" class="embed-responsive-item" width="100%" height="800px"></iframe>
                                <a id="fileDownload" class="btn-download" style="display:none;" href="#" download>Télécharger le fichier</a>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-lg-6">
                            <form class="ps-lg-4">
                                <!-- Product title -->
                                <h3 class="card-title custom-title mt-3">{{ proprietaire.2 }}</h3>
                                
                                <p class="card-text"><strong>Mail du propriétaire :</strong> {{ cv.6 }}</p>
                                {% if proprietaire.0 != proprietaire.1 %}
                                <p class="card-text"><strong>Nom :</strong> {{ proprietaire.0 }}</p>
                                <p class="card-text"><strong>Prénom :</strong> {{ proprietaire.1 }}</p>
                                {% endif %}
                                <p class="card-text"><strong>Date de dernière mise à jour du CV:</strong> {{ cv.8 }}</p>
                                <p> <strong>Date de récupération du CV </strong> : {{ cv.7}}</p>
                                <p class="font-16">
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                    <span class="text-warning mdi mdi-star"></span>
                                </p>
                                <div id="cvDetails" class="cv-details">
                                    <p class="card-text"><strong>Identifiant du CV :</strong> {{ cv.0 }}</p>
                                    <p class="card-text"><strong>Chemin vers le fichier :</strong> {{ cv.2 }}</p>
                                    <p class="card-text"><strong>Taille du fichier:</strong> <span id="fileSize" data-size="{{ cv.9 }}"></span></p>
                                </div>
                                <button id="toggleButton" class="btn btn-primary mt-3">Voir plus</button>
                               
                               
                                <!-- TJM and Maquettage button in two columns -->
                                <div class="row mt-4">
                                    <div class="col-md-4 mt-4">
                                        <button type="button" class="btn btn-danger ms-2" id="maquettageButton"><i class="mdi mdi-cart me-1"></i>Maquettage</button>
                                    </div>
                                    <div class="col-md-4">
                                        <h6 class="font-14 text-align text-center">TJM</h6>
                                        <input type="text" id="tjm" class="form-control" value="{{ cv.10 }}" readonly>
                                        <button id="edit-tjm" class="btn btn-warning mt-2" type="button" style="color: #fff;">Modifier TJM</button>
                                        <button id="save-tjm" class="btn btn-success mt-2" type="button" style="display: none;">Sauvegarder</button>
                                        <button id="cancel-tjm" class="btn btn-danger mt-2" type="button" style="display: none;">Annuler</button>
                                        <div><h4><span class="tjm-feedback" id="tjm-feedback"></span></h4></div>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <h4><span class="badge badge-success-lighten">Issu de Odoo archives</span></h4> <!-- à modifier pour les nouveaux CVs-->
                                    </div>
                                </div>
                                <!-- Product description -->
                                <div class="mt-4">
                                    <h6 class="font-14">Description:</h6>
                                   
                                    <textarea id="description" class="form-control" rows="3" readonly>{{ cv.11 }}</textarea>
                                    <button id="edit-description" class="btn btn-warning mt-2" type="button" style="color: #fff;">Modifier Description</button>
                                    <button id="save-description" class="btn btn-success mt-2" type="button" style="display: none;">Sauvegarder</button>
                                    <button id="cancel-description" class="btn btn-danger mt-2" type="button" style="display: none;">Annuler</button>
                                    <div><h4><span class="description-feedback" id="description-feedback"></span></h4></div>
                                </div>
                            </form>
                        </div> <!-- end col -->
                    </div> <!-- end row-->
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
    </div>
</div>
 
<div id="content-sections">
    <!-- Section des commentaires -->
    <div id="comments-section" class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="mt-0 mb-3" data_id="{{ cv.0 }}" id="cv_id">Commentaires du CV ID: {{ cv.0 }}</h4>
               
                <!-- Formulaire de soumission de commentaire -->
                <form id="comment-form" enctype="multipart/form-data">
                    <textarea class="form-control form-control-light mb-2" placeholder="Écrire un commentaire" id="example-textarea" rows="3" name="comment"></textarea>
                    <div class="text-end">
                        <button type="button" class="btn btn-primary btn-sm" id="submit-comment">Soumettre</button>
                    </div>
                    <div class="comment-feedback" id="comment-feedback"></div>
                </form>
 
                <!-- Affichage des commentaires -->
                <div id="comments-container">
                    {% for comment in comments %}
                    <div class="d-flex align-items-start mt-2 comment-item">
                        <img class="me-3 avatar-sm rounded-circle" src="{% static 'pulls/assets/images/users/avatar-3.jpg' %}" alt="Image générique">
                        <div class="w-100 overflow-hidden">
                            <h5 class="mt-0">{{ comment.user_name }} {{comment.users_fname}} <span class="created-at" style="top: -1px">{{ comment.created_at }}</span></h5>
                            {{ comment.comment }}
                           
                        </div>
                    </div>
                    {% endfor %}
                </div>
 
            </div>
        </div>
    </div>
 
    <div class="comment-feedback" id="feedback_{{ cv.id }}"></div>
    <!-- Bouton flottant pour ajouter un commentaire -->
    <div class="floating-button" data-bs-toggle="modal" data-bs-target="#comment-modal">
        <i class="mdi mdi-comment-plus-outline"></i>
    </div>
 
    <!-- Comment Modal -->
    <div id="comment-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="comment-modalLabel-{{ cv.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="comment-modalLabel-{{ cv.id }}">Ajouter un commentaire</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <textarea id="modal-comment-{{ cv.id }}" class="form-control" rows="4" name="comment1" placeholder="Ajouter un commentaire"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="envoyer_commentaire" data-id="{{ cv.id }}">Envoyer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
 
    <!-- Success Alert Modal -->
    <div id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modal-filled bg-success">
                <div class="modal-body p-4">
                    <div class="text-center">
                        <i class="dripicons-checkmark h1"></i>
                        <h4 class="mt-2">Commentaire envoyé!</h4>
                        <p class="mt-3">Votre commentaire a été ajouté avec succès.</p>
                        <button type="button" class="btn btn-light my-2 " data-bs-dismiss="modal">Continuer</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
 
</div>
 
{% endblock content %}
 
{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
 
    var csrfToken = getCookie('csrftoken');
 
    function enableEditing(field) {
        var element = document.getElementById(field);
        var editButton = document.getElementById('edit-' + field);
        var saveButton = document.getElementById('save-' + field);
        var cancelButton = document.getElementById('cancel-' + field);
 
        element.removeAttribute('readonly');
        element.classList.add('editable');
        editButton.style.display = 'none';
        saveButton.style.display = 'inline';
        cancelButton.style.display = 'inline';
    }
 
    function disableEditing(field) {
        var element = document.getElementById(field);
        var editButton = document.getElementById('edit-' + field);
        var saveButton = document.getElementById('save-' + field);
        var cancelButton = document.getElementById('cancel-' + field);
 
        element.setAttribute('readonly', true);
        element.classList.remove('editable');
        editButton.style.display = 'inline';
        saveButton.style.display = 'none';
        cancelButton.style.display = 'none';
    }
 
    function CreateFeedback(id, data) {
        const divMessage = document.getElementById(id);
        divMessage.classList.remove('badge', 'bg-danger-lighten', 'bg-success-lighten'); // Remove previous classes
 
        if (data.success) {
            divMessage.innerText = 'Votre modification a bien été prise en compte';
            divMessage.classList.add('badge', 'bg-success-lighten', 'text-success');
        } else {
            divMessage.innerText = 'Votre modification n\'a pas été prise en compte';
            divMessage.classList.add('badge', 'bg-danger-lighten', 'text-danger');
        }
       
        setTimeout(() => divMessage.innerText = '', 3000);
    }
 
    function saveChanges(field) {
        var element = document.getElementById(field);
        var value = element.value;
        var cv_id = '{{ cv.0 }}';
 
        var formData = new FormData();
        formData.append('cv_id', cv_id);
        formData.append('field', field);
        formData.append('value', value);
 
        fetch('{% url "update_cv" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                let chemin = field + '-feedback';
                disableEditing(field);
                CreateFeedback(chemin, data);
            } else {
                alert('Erreur lors de la mise à jour. Veuillez réessayer.');
            }
        })
        .catch(error => console.error('Error:', error));
    }
 
    function LeaveCommentaire(id, name) {
        document.getElementById(id).addEventListener('click', function() {
            var cv_id = document.getElementById('cv_id').getAttribute('data_id');
            var comment = document.getElementsByName(name)[0].value;
 
            var formData = new FormData();
            formData.append('cv_id', cv_id);
            formData.append('comment', comment);
 
            fetch('{% url "add_comment" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var feedback = document.getElementById('comment-feedback');
                if (data.message) {
                    feedback.innerText = 'Commentaire ajouté : ' + data.message;
                    feedback.classList.add('text-success');
                    setTimeout(() => feedback.innerText = '', 3000);
                    document.getElementById('comment-form').reset();
                    var commentsContainer = document.getElementById('comments-container');
                    var newComment = document.createElement('div');
                    newComment.className = 'd-flex align-items-start mt-2 comment-item';
                    newComment.innerHTML = `
                        <img class="me-3 avatar-sm rounded-circle" src="{% static 'pulls/assets/images/users/avatar-3.jpg' %}" alt="Image générique">
                        <div class="w-100 overflow-hidden">
                            <h5 class="mt-0">${data.user_name}</h5>
                            ${data.comment}
                            <span class="created-at" style="top: -1px">${data.created_at}</span>
                        </div>`;
                    commentsContainer.prepend(newComment);
                    var modalElement = document.getElementById('comment-modal');
                    var instancemodale = bootstrap.Modal.getInstance(modalElement);
                    if (instancemodale) {
                        instancemodale.hide();
                    }
                    var modal = new bootstrap.Modal(document.getElementById('success-alert-modal'));
                     modal.show();
                    var feedbacke = document.getElementById('feedback_' + cvId);
                    feedbacke.innerText = 'Commentaire ajouté : ' + data.message;
                    feedbacke.classList.add('text-success');
                    setTimeout(() => feedbacke.innerText = '', 3000);
                    document.getElementById('modal-comment-' + cvId).value = '';
                   
                } else {
                    feedback.innerText = 'Erreur : ' + data.error;
                    feedback.classList.add('text-danger');
                    setTimeout(() => feedback.innerText = '', 3000);
                }
            })
            .catch(error => console.error('Fetch error:', error));
        });
    }
 
    LeaveCommentaire("submit-comment", "comment");
    LeaveCommentaire("envoyer_commentaire", "comment1");
 
    document.getElementById('edit-tjm').addEventListener('click', function() {
        enableEditing('tjm');
    });
 
    document.getElementById('save-tjm').addEventListener('click', function() {
        saveChanges('tjm');
    });
 
    document.getElementById('cancel-tjm').addEventListener('click', function() {
        disableEditing('tjm');
    });
 
    document.getElementById('edit-description').addEventListener('click', function() {
        enableEditing('description');
    });
 
    document.getElementById('save-description').addEventListener('click', function() {
        saveChanges('description');
    });
 
    document.getElementById('cancel-description').addEventListener('click', function() {
        disableEditing('description');
    });
 
    document.getElementById('maquettageButton').addEventListener('click', function() {
        location.href = 'https://rs-telecom-5fe33.web.app/';
    });
 
    document.getElementById('toggleButton').addEventListener('click', function(event) {
        event.preventDefault();
        toggleDetails();
    });
 
    var filename = "{{ cv.2 }}";
    var mimeType = "{{ cv.3 }}";
    var fileUrlBase = "/media/CV/filestore/" + filename;
    var fileUrl = fileUrlBase; // Default to the base URL
 
    var mimeToExtension = {
        'application/pdf': '.pdf',
        'application/msword': '.doc',
        'application/vnd.openxmlformats-officedocument.wordprocessingml.document': '.docx',
        'image/png': '.png',
        'image/jpeg': '.jpeg',
        'text/vnd.graphviz': '.gv',
        'application/vnd.oasis.opendocument.text': '.odt',
        'application/zip': '.zip',
        'application/vnd.openxmlformats-officedocument.presentationml.presentation': '.pptx',
        'Null': '.pdf'
    };
 
    if (mimeType === 'application/msword' || mimeType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') {
        document.getElementById('fileViewer').src = fileUrl + mimeToExtension[mimeType];
        document.getElementById('fileDownload').style.display = 'block';
        document.getElementById('fileDownload').href = fileUrl + mimeToExtension[mimeType];
    } else {
        document.getElementById('fileViewer').src = fileUrl + mimeToExtension[mimeType];
        document.getElementById('fileDownload').style.display = 'none';
    }
 
    var fileSizeElement = document.getElementById('fileSize');
    var sizeInBytes = parseInt(fileSizeElement.getAttribute('data-size'), 10);
    var sizeInMB = (sizeInBytes / (1024)).toFixed(2);
    fileSizeElement.textContent = sizeInMB + ' Ko';
});
 
function toggleDetails() {
    var details = document.getElementById('cvDetails');
    var button = document.getElementById('toggleButton');
    if (details.style.display === 'none' || details.style.display === '') {
        details.style.display = 'block';
        button.textContent = 'Voir moins';
    } else {
        details.style.display = 'none';
        button.textContent = 'Voir plus';
    }
}
</script>
</body>
</html>
{% endblock %}