<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-dark navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link arrow-none" href="{% url 'dashboard'%}" id="topnav-dashboards" role="button">
                            <i class="uil-dashboard me-1"></i>Dashboards 
                        </a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil-apps me-1"></i>Applications <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            {% if user.users_type in 'com admin superadmin' %}
                            <a href="https://rs-telecom-5fe33.web.app" target="_blank" class="dropdown-item">Maquettage de cv</a>
                            <a href="{% url 'choix_leads'%}" class="dropdown-item">Leads et Matching de CVs</a>
                            <a href="{% url 'cv_interface' %}" class="dropdown-item">CV Tech</a>
                            {% endif %}
                            {% if user.users_type in 'con stt admin superadmin'%}
                            <a href="{% url 'cra'%}" class="dropdown-item">Gestion de CRA</a>  
                            {% endif %}
                            {% if user.users_type in 'paie admin superadmin'%}
                            <a href="{% url 'employes' %}" class="dropdown-item">Gestion des employés</a>   
                            {% endif %}
                            <a href="{% url 'feedback' %}" class="dropdown-item">feedback</a> 
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="uil-user me-1"></i>Profile <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                            <div class="dropdown">
                            <a href="{% url 'profil' %}" class="dropdown-item">Informations</a>
                            <!-- <a href="#" class="dropdown-item">Télécharger une attestation employeur</a> -->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>