{% extends 'layouts/bases.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">R&S TELECOM</a></li>
                        <li class="breadcrumb-item"><a href="#">Profile</a></li>
                        <li class="breadcrumb-item active">Informations</li>
                    </ol>
                </div>
                <h4 class="page-title">Informations</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    
    <div class="row">
        <div class="col-xl-4 col-lg-5">
            <div class="card text-center">
                <div class="card-body">
                    <img src="{% static 'pulls/assets/images/users/avatar-1.jpg'%}"
                        class="rounded-circle avatar-lg img-thumbnail" alt="profile-image">
    
                    <h4 class="mb-0 mt-2">{{user.users_name}} {{user.users_fname}}</h4>
                    <p class="text-muted font-14">{{users_type}}</p>
    
                    <button type="button" class="btn btn-success btn-sm mb-2">Demande de conge</button>
                    <button type="button" class="btn btn-danger btn-sm mb-2">Compte rendu d'activite</button>
    
                    <div class="text-start mt-3">
                        <h4 class="font-13 text-uppercase">Apropos de Nous :</h4>
                        <p class="text-muted font-13 mb-3">
                            Une Entreprise de Services Numériques qui vous accompagne dans vos projets en vous fournissant
                            l’expertise et les conseils. <br>
    
                            Depuis 2014, notre expertise dans le conseil en intégration de nouvelles technologies, nous
                            permettent de proposer une approche globale de la gestion de projet alliant réflexion,
                            accompagnement et assistance technique.
                        </p>
                        <p class="text-muted mb-2 font-13"><strong>Nom :</strong> <span class="ms-2">{{user.users_name}}
                                {{user.users_fname}}</span></p>
    
                        <p class="text-muted mb-2 font-13"><strong>Mobile :</strong><span class="ms-2">
                            {% if user.users_phone %}{{user.users_phone}} {% else %} Non definie {%endif%}</span></p>
    
                        <p class="text-muted mb-2 font-13"><strong>Email :</strong> <span class="ms-2 ">
                            {{user.users_mail }}</span></p>
    
                        <p class="text-muted mb-1 font-13"><strong>Location :</strong> <span class="ms-2"> 
                            {% if user.users_address %}
                                {{user.users_address}} {{user.users_region}}
                            {% else %} 
                                Non definie
                            {%endif%}</span></p>
                    </div>
    
    
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col-->
    
        <div class="col-xl-8 col-lg-7">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills bg-nav-pills nav-justified mb-3">
                        <li class="nav-item">
                            <a href="#aboutme" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                Experiences professionnel
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#timeline" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
                                Timeline
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a href="#settings" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0 active">
                                Informations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#accuantSecurise" data-bs-toggle="tab" aria-expanded="false"
                                class="nav-link rounded-0">
                                Sécurité du compte
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="aboutme">
    
                            <h5 class="text-uppercase"><i class="mdi mdi-briefcase me-1"></i>
                                Experience</h5>
    
                            <div class="timeline-alt pb-0">
                                {% if current_mission %}
                                    <div class="timeline-item">
                                        <i class="mdi mdi-circle bg-info-lighten text-info timeline-icon"></i>
                                        <div class="timeline-item-info">
                                            <h5 class="mt-0 mb-1">{{ current_mission.mission_name }}</h5>
                                            <p class="font-14">{{ current_mission.mission_manager }} <span class="ms-2 font-12">Annee : {{ current_mission.mission_start|date:"M:Y" }} - {{ current_mission.mission_end|date:"M:Y" }}</span></p>
                                            <p class="text-muted mt-2 mb-0 pb-3">{{ current_mission.mission_description }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <p>Aucune mission actuelle pour cet utilisateur.</p>
                                {% endif %}
    
                            </div>
                        </div> <!-- end tab-pane -->
                        <!-- end about me section content -->
    
                        <div class="tab-pane" id="timeline">
                            <div class="text-center">
                                <a href="javascript:void(0);" class="text-danger"><i
                                        class="mdi mdi-spin mdi-loading me-1"></i> chargement </a>
                            </div>
    
                        </div>
                        <!-- end timeline content-->
    
                        <div class="tab-pane show active" id="settings">
                            <form id="profileForm">
                                <h5 class="mb-4 text-uppercase bg-light p-2"><i class="mdi mdi-account-circle me-1"></i>
                                    Informations Personnelles</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="users_name" class="form-label">Prénom</label>
                                            <input type="text" class="form-control" id="users_name" name="users_name"
                                                value="{{ user.users_name }}">
                                            <div class="text-danger" id="error-users_name"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="users_fname" class="form-label">Nom</label>
                                            <input type="text" class="form-control" id="users_fname" name="users_fname"
                                                value="{{ user.users_fname }}">
                                            <div class="text-danger" id="error-users_fname"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="users_mail" class="form-label">Adresse Email</label>
                                            <input type="email" class="form-control" id="users_mail" name="users_mail"
                                                value="{{ user.users_mail }}">
                                            <span class="form-text text-muted"><small>Si vous souhaitez changer d'email,
                                                    veuillez <a href="javascript: void(0);">cliquer</a> ici.</small></span>
                                            <div class="text-danger" id="error-users_mail"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="users_password" class="form-label">Mot de Passe</label>
                                            <input type="password" class="form-control" id="users_password"
                                                name="users_password" value="{{ user.users_password }}" disabled readonly>
                                        </div>
                                    </div>
                                </div>
    
                                <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-office-building me-1"></i>
                                    Informations sur l'Entreprise</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="client_id" class="form-label">Nom de l'Entreprise</label>
                                            <select class="form-control" id="client_id" name="client_id" {% if not is_admin_or_rh %} disabled {% endif %}
                                                onchange="handleClientChange(this.value)">
                                                <option value="">Sélectionnez une entreprise</option>
                                                {% if clients %}
                                                    {% for client in clients %}
                                                        <option value="{{ client.id_client }}" {% if current_client and current_client.id_client == client.id_client %}selected{% endif %}>
                                                            {{ client.client_name }}
                                                        </option>
                                                    {% endfor %}
                                                {% endif %}
                                                <option value="other">Autre</option>
                                            </select>
                                            <div class="text-danger" id="error-client_id"></div>
                                        </div>
                                        <div class="mb-3" id="new_client_fields" style="display: none;">
                                            <label for="new_client_name" class="form-label">Nom du nouveau client</label>
                                            <input type="text" class="form-control" id="new_client_name" name="client_name" value="" >
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="cwebsite" class="form-label">Localisation de l'entreprice</label>
                                            <input type="text" class="form-control" id="cwebsite" name="cwebsite"
                                                value="{% if current_client %}{{ current_client.client_location }}{% endif %}" 
                                                {% if not is_admin_or_rh %} readonly {% endif %}>
                                            <div class="text-danger" id="error-cwebsite"></div>
                                        </div>
                                    </div>
                                </div>
    
                                {% if is_consultant_or_freelance %}
                                <h5 class="mb-3 text-uppercase bg-light p-2">
                                    <i class="mdi mdi-earth me-1"></i> Informations sur la Mission
                                </h5>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="mission_name_"
                                                        class="form-label">Nom de la mission</label>
                                                    <input type="text" class="form-control"
                                                        id="mission_name_"
                                                        name="mission_name_"
                                                        value="{{ current_mission.mission_name }}" {% if not is_admin_or_rh %}
                                                        readonly
                                                    {%  endif %}>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="mission_manager_"
                                                        class="form-label">Nom du Manager</label>
                                                    <input type="text" class="form-control"
                                                        id="mission_manager_"
                                                        name="mission_manager_"
                                                        value="{{ current_mission.mission_manager }}" {% if not is_admin_or_rh %}
                                                        readonly
                                                    {%  endif %}>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="mission_start_" class="form-label">Début de mission</label>
                                                    <input type="text" class="form-control"
                                                        id="mission_start_"
                                                        name="mission_start_"
                                                        value="{{ current_mission.mission_start|date:'m/d/Y' }}"
                                                        {% if not is_admin_or_rh %} readonly {% endif %}
                                                        data-toggle="date-picker" data-single-date-picker="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">
                                                    <label for="mission_end_" class="form-label">Fin de mission</label>
                                                    <input type="text" class="form-control date"
                                                        id="mission_end_"
                                                        name="mission_end_"
                                                        value="{{ current_mission.mission_end|date:'m/d/Y' }}"
                                                        {% if not is_admin_or_rh %} readonly {% endif %}
                                                        data-toggle="date-picker" data-single-date-picker="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="mb-3">
                                                    <label for="mission_desc" class="form-label">Description de mission</label>
                                                    <textarea class="form-control" id="mission_desc" name="mission_desc" rows="4" {% if not is_admin_or_rh %}
                                                    readonly
                                                {%  endif %}>{{ current_mission.mission_description|default_if_none:"" }}</textarea>
                                                </div>
                                            </div> <!-- end col -->
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
    
                                <h5 class="mb-3 text-uppercase bg-light p-2"><i class="mdi mdi-earth me-1"></i> Contact</h5>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="location" class="form-label">Adresse</label>
                                            <input type="text" class="form-control" id="location" name="location" 
                                            {% if user.users_address %} 
                                                value="{{ user.users_address }}"
                                            {% else %}
                                                placeholder="Entrez votre adresse" 
                                            {%endif%}>
                                            <div class="text-danger" id="error-location"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="phone_number" class="form-label">Numéro de Téléphone</label>
                                            <input type="text" class="form-control" id="phone_number" name="phone_number" 
                                            {% if user.users_phone %} 
                                                value="{{ user.users_phone }}" 
                                            {% else %}
                                                placeholder="Entrez votre numéro de telephone"
                                            {%endif%}>
                                            <div class="text-danger" id="error-phone_number"></div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="city" class="form-label">Ville</label>
                                            <input type="text" class="form-control" id="city" name="city" 
                                            {% if user.users_region %} 
                                                value="{{ user.users_region  }}" 
                                            {% else %}
                                                placeholder="Entrez votre ville" 
                                            {%endif%}>
                                            <div class="text-danger" id="error-city"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="postal_code" class="form-label">Code Postal</label>
                                            <input type="text" class="form-control" id="postal_code" name="postal_code"
                                             {% if user.users_postal %} 
                                                value="{{ user.users_postal }}" 
                                             {% else %}
                                                placeholder="Entrez votre code postal" 
                                             {%endif%}>
                                            <div class="text-danger" id="error-postal_code"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-success mt-2" id="{% if user_info.users_type == 'paie' %}compagny{% else %}user_info{% endif %}">
                                        <i class="mdi mdi-content-save"></i> Enregistrer
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="accuantSecurise">
                            <div class="card">
                                <div class="card-body pb-1">
                                    <div class="d-flex">
                                        <div class="w-100">
                                            <h5 class="m-0">GESTION DES MOTS DE PASSE</h5>
                                        </div>
                                    </div>
    
                                    <hr class="m-0">
    
                                    <div class="font-16 my-3">
                                        <button type="button" class="btn btn-secondary" id="login_modal">Changer le mot de
                                            passe</button>
                                    </div>
                                    <div class="d-flex">
                                        <div class="w-100">
                                            <h5 class="m-0">AUTHENTIFICATION À DEUX FACTEURS</h5>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="font-16 my-3">
                                        <p class="text-muted">L'authentification à deux facteurs (« 2FA ») est un système de
                                            double authentification. Le premier se fait avec votre mot de passe et le second
                                            avec un code que vous obtenez depuis une application mobile dédiée. Les plus
                                            populaires incluent Authy, Google Authenticator ou Microsoft Authenticator.</p>
    
                                        <button type="button" id="btn-text"
                                            class="btn {% if activate %} btn-success {% else %} btn-light {% endif %} disabled">
                                            {% if activate %}<i class="dripicons-checkmark me-2 text-white"></i><span
                                                id="2fa-status">désactiver l'authentification à deux facteurs</span>
                                            {% else %} <i class="dripicons-warning me-2 text-warning" id="checkValid"></i><span
                                                id="testspan">Authentification à deux facteurs non activée</span> 
                                            {% endif %}
                                        </button>
                                        {% if activate %}
                                        <button type="button" id="deactivate-2fa-btn" class="btn btn-light"><span
                                                id="2fa-status">désactiver l'authentification à deux
                                                facteurs</span></button>
                                        {% else %}
                                        <button type="button" id="activate-2fa-btn" class="btn btn-info"><span>Activer
                                                l'authentification à deux facteurs</span></button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="#" class="text-dark font-weight-bold">
                            Contrôle de sécurité
                        </a>
                    </div>
                    <div class="container">
                        <div class="ps-3 pe-3">
                            <h5>Veuillez entrer votre mot de passe pour confirmer que vous possédez ce compte</h5>
                        </div>
                    </div>
                    <form action="#" class="ps-3 pe-3">
                        {% csrf_token %}
                        <div id="container-login"></div>
                        <div class="mb-3">
                            <input class="form-control" type="password" required="" name="password1" id="password1"
                                placeholder="***********">
                        </div>
                    </form>
    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="confirmationAcount">Confirmez le mot de passe</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="standard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="standard-modalLabel">Activer l'authentification à deux facteurs</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="mt-3">
                        <h5 class="font-18 text-center">Scannez ce code-barres avec votre application</h5>
                        <p>Scannez l'image ci-dessous avec l'application d'authentification sur votre téléphone. <br> Si
                            vous ne parvenez pas à scanner le code-barres, voici quelques options alternatives:</p>
                        <ol>
                            <li>Cliquez dessus pour ouvrir votre application d'authentification</li>
                            <li>Ou entrez le code secret manuellement;<strong><a class=" text-primary"
                                        data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false"
                                        aria-controls="collapseExample"> Afficher le code</a></strong></li>
                        </ol>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body mb-0">
                                <div class="mb-3">
                                    <label for="opt-secret">Votre secret à deux facteurs:</label>
                                    <input class="form-control text-danger text-center" id="opt-secret" type="text"
                                        name="opt-secret">
                                </div>
                            </div>
                        </div>
                        <div class="contenair">
                            <div class="row text-center">
                                <div id="qr_code"></div>
                            </div>
                        </div>
                        <form id="2fa-form">
                            {% csrf_token %}
                            <h5 class="font-18 text-center">Saisissez le code à 6 chiffres depuis votre application</h5>
                            <p>Après avoir scanné le code-barres, l'application affichera un code à 6 chiffres que vous
                                devrez saisir ci-dessous. Ne vous inquiétez pas si le code change dans l'application, il
                                reste valide un peu plus longtemps.</p>
    
                            <div id="container-error"></div>
                            <div class="mb-3">
                                <input class="form-control" id="id_otp" type="number" name="otp">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="activeteOptsecret">Activer l'authentification à deux
                        facteurs</button>
                </div>
            </div>
        </div>
    </div>
    <div id="password-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center mt-2 mb-4">
                        <a href="#" class="text-dark font-weight-bold">
                            Changez votre mot de passe
                        </a>
                    </div>
                    <div class="container">
                        <div class="ps-3 pe-3">
                            <h5>Entrez votre mot de passe deux fois.Votre mot de passe pourra contenir jusqu'à 10 carractere
                                mais pourra pas etre le même </h5>
                        </div>
                    </div>
                    <form action="#" class="ps-3 pe-3">
                        {% csrf_token %}
                        <div id="container-change"></div>
                        <div class="mb-3">
                            <input class="form-control" type="password" required="" id="new_password"
                                placeholder="***********">
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" required="" id="cpassword"
                                placeholder="***********">
                        </div>
                    </form>
    
                </div>
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="change_password">Changer le mot de passe</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{%endblock%}
{% block js %}

<script>
    document.getElementById('profileForm').addEventListener('submit', function(event) {
        event.preventDefault();

        let formData = new FormData(this);

        formData.append('user_id', '{{ user.id_user }}');
        formData.append('mission_id', '{{ current_mission.id_mission }}');
        
        
        
        console.log(formData)
        fetch("{% url 'update_profile' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
            } else {
                alert('Erreur : ' + data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Erreur lors de la mise à jour du profil');
        });
    });

    function handleClientChange(value) {
        if (value === 'other') {
            document.getElementById('new_client_fields').style.display = 'block';
        } else {
            document.getElementById('new_client_fields').style.display = 'none';
        }
    }

    $(document).ready(function() {
        $('#mission_start_').datepicker({
            format: 'mm/dd/yyyy'
        });
        $('#mission_end_').datepicker({
            format: 'mm/dd/yyyy'
        });
    });


</script>

{% endblock js %}